[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
apscheduler = "*"
sqlalchemy = "*"
python-dotenv = "*"

[dev-packages]
black = "*"
pre-commit = "*"

[requires]
python_version = "3.10"
